:root {
  --font-family-main: "PT Sans", sans-serif;

  --bg-color: rgb(229, 229, 229);
  --content-width: 1440px;
  --Black-blue: rgb(66, 86, 122);
  --Blue: rgb(93, 95, 239);
  --Red: rgb(239, 93, 168);
}